<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="(~{base::layout(~{::section})})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container mt-3">
			<div class="row">
				<div class="col-md-6 offset-md-3">
					<div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
						<div class="card-header text-center">
							<h2>Add Product</h2>
							<th:block th:if="${session.successMsg}">
									<p class="text-success fw-bold">[[${session.successMsg}]]</p>
									<th:block th:text="${@commenServiceImp.removeSessionMessage()}"></th:block>
								</th:block>
								<th:block th:if="${session.errorMsg}">
									<p class="text-danger fw-bold">[[${session.errorMsg}]]</p>
									<th:block th:text="${@commenServiceImp.removeSessionMessage()}"></th:block>
								</th:block>
						</div>
						<div class="card-body">
							<form action="/Admin/updateProdcut" enctype="multipart/form-data" method="post">
								<input type="hidden" name="id" th:value="${product.id}">
								<div class="mb-3">
									<label>Title</label>
									<input type="text" name="title" class="form-control" th:value="${product.title}">
								</div>
								<div class="mb-3">
									<label>Description</label>
									<textarea type="text" name="description" class="form-control">[[${product.description}]]</textarea>
								</div>
								<div class="mb-3">
									<label>Select Category</label>
									<select class="form-control" name="category">
										<option>[[${product.category}]]</option>
										<!--Reterive category name dynamically from the database and show in frontend-->
										<option th:each="c:${categories}">[[${c.name}]]</option>
										
									</select>
								</div>
								<div class="mb-3">
									<label>Price</label>
									<input type="text" name="price" class="form-control" th:value="${product.price}">
								</div>
								<div class="row">
									<div class="col md-3">
										<label>Enter Stock</label>
										<input type="text" name="stock" class="form-control" th:value="${product.stock}">
									</div>
									<div class="col md-3">
										<label>Upload Image</label>
										<input type="file" name="file" class="form-control">
									</div>
									<div class="mt-1 align-intem-right">
										<img th:src="@{'/Images/Product/' +${product.imageName}}" width="100px " height="100px" class="mt-2">
									</div>
								</div>
								<button class="btn btn-primary mt-2 col-md-12">Update Product</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>