<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="(~{base:: layout(~{::section})})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container" style="margin-bottom: 87px;" >
			<p class="text-center fs-3 mt-3">Admin Dashboad</p>
			<div class="row p-5">
				<div class="col-md-4">
					<a href="addProduct" class="text-decoration-none">
						<div class="card shadow p-0 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<i class="fa-solid fa-square-plus fa-2x text-primary"></i>
							<p class="fs-5 fw-bold">Add Product</p>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4">
					<a href="addCategory" class="text-decoration-none">
						<div class="card shadow p-0 mb-5 bg-body rounded">
						<div class="card-body text-center text-warning">
							<i class="fa-solid fa-list fa-2x"></i>
							<p class="fs-5 fw-bold">Add Catagory</p>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4">
					<a href="viewProduct" class="text-decoration-none">
						<div class="card shadow p-0 mb-5 bg-body rounded">
						<div class="card-body text-center text-success">
							<i class="fa-solid fa-table-list fa-2x"></i>
							<p class="fs-5 fw-bold">View Product</p>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4">
					<a href="" class="text-decoration-none">
						<div class="card shadow p-0 mb-5 bg-body rounded">
						<div class="card-body text-center text-danger">
							<i class="fa-solid fa-box-open fa-2x"></i>
							<p class="fs-5 fw-bold">Order</p>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4">
					<a href="" class="text-decoration-none">
						<div class="card shadow p-0 mb-5 bg-body rounded">
						<div class="card-body text-center text-info">
							<i class="fa-solid fa-user fa-2x"></i>
							<p class="fs-5 fw-bold">Users</p>
						</div>
					</div>
					</a>
				</div>
				
				<div class="col-md-4">
					<a href="" class="text-decoration-none">
						<div class="card shadow p-0 mb-5 bg-body rounded">
						<div class="card-body text-center">
							<i class="fa-solid fa-user-plus fa-2x"></i>
							<p class="fs-5 fw-bold">Add Admin</p>
						</div>
					</div>
					</a>
				</div>
			</div>
		</div>
	</section>
</body>
</html>