<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="(~{base::layout(~{::section})})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card mt-2">
			<div class="card-header">
				<h2 class="text-center">View Product</h2>
				<th:block th:if="${session.successMsg}">
					<p class="text-success fw-bold text-center">[[${session.successMsg}]]</p>
					<th:block th:text="${@commenServiceImp.removeSessionMessage()}"></th:block>
				</th:block>
				<th:block th:if="${session.errorMsg}">
					<p class="text-danger fw-bold text-center">[[${session.errorMsg}]]</p>
					<th:block th:text="${@commenServiceImp.removeSessionMessage()}"></th:block>
				</th:block>
			</div>
			<div class="card-body">
				<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">SNo.</th>
								<th scope="col">Product</th>
								<th scope="col">Title</th>
								<th scope="col">Category</th>
								<th scope="col">Price</th>
								<th scope="col">Stock</th>
								<th scope="col" class="text-center">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="products,prod:${product}">
								<th scope="row">[[${prod.count}]]</th>
								<td><img th:src="@{'/Images/Product/'+${products.imageName}}" width="100px" height="80px"></td>
								<td>[[${products.title}]]</td>
								<td>[[${products.category}]]</td>
								<td>[[${products.price}]]</td>
								<td>[[${products.stock}]]</td>
								<td class="text-center">
									<a th:href="@{'/Admin/editProduct/'+${products.id}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square fa-1x"></i>Edit</a>
									<a th:href="@{'/Admin/deleteProduct/'+${products.id}}" class="btn btn-danger btn-sm"><i class="fa-solid fa-trash fx-1x"></i>Delete</a>
								</td>
							</tr>
							
						</tbody>
						</table>
			</div>
		</div>
	</section>
</body>
</html>