<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="(~{base::layout(~{::section})})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="container card-sh" style="margin-top: 70px; margin-bottom: 30px;">
			<div class="col-md-12 p-5">
				<div class="row">
					<div class="col-md-6 text-center mt-5">
						<img th:src="@{'/Images/Product/' + ${productDetails.imageName}}" width="350px" height="250px">
					</div>
					<div class="col-md-6">
						<p class="fs-3">[[${productDetails.title}]]</p>
						<p>
							<span class="fw-bold">Description:- </span> [[${productDetails.description}]]
						</p>
						<p>
							<span class="fw-bold">Product Details:- </span><br>
							Status: <span class="badge bg-success" th:if="${productDetails.stock >  5}" >Available</span>
									<span class="badge bg-warning" th:if="${productDetails.stock ==  0}">Out of stock</span><br>
									<span class="badge" style="background-color: #fd7e14;" th:if="${productDetails.stock ==  5}">Limited stock</span><br>
							Cataegory: [[${productDetails.category}]]<br>
							Policy : 7 Day Replacement & Return
						</p>
						<p class="fs-5 fw-bold">
							Price: [[${productDetails.discountPrice}]]
							<span class="fs-6 text-decoration-line-through text-secoundary" th:if="${productDetails.price > productDetails.discountPrice}">[[${productDetails.price}]]</span>
							<span class="fs-6 text-success" th:if="${productDetails.discount > 0}">[[${productDetails.discount}]]%</span>
						</p>
						<div class="row">
							<div class="col-md-4 text-success text-center p-2">
								<i class="fa-solid fa-money-bill-wave fa-2x"></i>
								<p>Cash on Delivery</p>
							</div>
							<div class="col-md-4 text-danger text-center p-2">
								<i class="fa-solid fa-rotate-left fa-2x"></i>
								<p>Return Available</p>
							</div>
							<div class="col-md-4 text-primary text-center p-2">
								<i class="fa-solid fa-truck-fast fa-2x"></i>
								<p>Free Shipping</p>
							</div>
						</div>
						<div class="row justify-content-evenly">
							<a href="" class="btn btn-danger col-md-5">Add to Card</a>
							<a href="" class="btn btn-warning col-md-5">Buy Now</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>